<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ hotel.title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="detail-page-body">
    
    <header class="detail-header">
        <a href="/" class="home-link">Hotel Catalog App</a>
    </header>

    <main class="video-layout">
        <div class="tiktok-container">
            <video autoplay loop muted playsinline>
                <source src="{{ hotel.video_url }}" type="video/mp4">
            </video>
            
            <div class="description-overlay">
                <strong>{{ hotel.title }}</strong><br>
                {{ hotel.description }}
            </div>
        </div>
    </main>
    
</body>
</html>