<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Каталог отелей</h1>
    
    <ul>
    {% for hotel in hotels %}
    <li>
        <a href="/hotel/{{ hotel.id }}">
            <img src="{{ hotel.image_url }}" alt="{{ hotel.title }}" class="hotel-image">            
            <h2>{{ hotel.title }}</h2>
        </a>
        <p>Цена: {{ hotel.price }} руб.</p>
    </li>
    {% endfor %}
</ul>
</body>
</html>